@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Russo+One&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}

header {
    height: auto;
    width: 100%;
    background: #2C292A;
}
.header {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
}
.logo {
    font-size: 36px;
}
.logoPink {
    color: #CC81BA;
}
.nav_Menu ul {
    width: 454px;
    justify-content: space-between;
    display: flex;
}
.nav_Menu li {
    display: inline-flex;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.btnNav {
    background: #FFFFFF;
    border: 2px solid #CC81BA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: #0B1119;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 31px;
    cursor: pointer;
}




.row1 {
    background-image: url(../img/image\ 3.png);
    width: 100%;
    height: auto;
    background-size: cover;
}
.row1_tex {
    max-width: 1180px;
    margin: 0 auto;
    padding: 240px 0 187px 0;
}
.row1_tex h1 {
    font-size: 96px;
}
.row1_tex p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    max-width: 528px;
    margin-top: 60px;
}
.btnMain {
    background: #CC81BA;
    border: 4px solid #FFFFFF;
    border-radius: 8px;
    padding: 28px 98px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 80px;
    cursor: pointer;
}


.row2 {
    width: 100%;
    height: auto;
    background: #2C292A;
}
.row2_block {
    max-width: 1180px;
    margin: 0 auto;
    padding: 150px 0 128px 0;
    display: flex;
    justify-content: space-between;
}
.row2_text {
    max-width: 526px;
}
.row2_block h1 {
    font-size: 48px;
}
.row2_block p {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
}

.row3 {
    background: #CC81BA;
}
.row3_text {
    margin: 0 auto;
    padding: 150px 0 135px 0;
    max-width: 1180px;
    
}
.row3_text h1, .row3_left, .row3_rigt {
    color: #0B1119;
}
.row3_text h1 {
    font-size: 48px;
    padding-bottom: 60px;
}
.row3_left, .row3_rigt {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.row3_left {
    padding-left: 100px;
}
.row3_rigt {
    padding-right: 100px;
}
.row3_row {
    border-bottom: 1px solid #2C292A;
    display: flex;
    justify-content: space-between;
}

.row4 {
    width: 1140px;
    height: 440px;
    background-image: url(../img/image\ 5.png);
    margin: 0 auto;
    z-index: 1;
}
.row4_fon {
    background: rgba(44, 41, 42, 0.6);
    height: 440px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
}
.row4_midle {
    margin: 0 auto;
    max-width: 1180px;
    padding: 103px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row4_text {
    text-align:center;
    z-index: 3;
    width: 457px;
    background: rgba(204, 129, 186, 0.5);
    border-radius: 8px;
    padding: 40px 20px;
}
.row4_text h2 {
    font-size: 36px
}
.row4_text p {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0;
}
.row4_info input {
    letter-spacing: 0.44px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 17px;
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #2C292A;
    display: block;
    width: 262px;
}
.row4_info input:nth-child(2) {
    margin: 20px 0;
}
.row4_info button {
    text-transform: uppercase;
    color: #0B1119;
    letter-spacing: 0.75px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    border: 1px solid #2C292A;
    background: #CC81BA;
    padding: 17px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.row5 {
    background: #CC81BA;
}
.row5_text {
    margin: 0 auto;
    width: 1180px;
}
.row5_text h2 {
    color: #0B1119;
    font-size: 48px;
    padding-top: 150px;
}
.row5_slider {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: flex-end;
    padding-bottom: 114px;
    overflow-x: hidden;
}
.img_sliders {
    width: 262px;
    height: 262px;
    margin: 0 5px;
}
.img_aktive{
    width: 310px;
    height: 310px;
}
.strelki {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}
.strelka2 {
    position: relative;
    top: 200px;
    transform: rotate(180deg);
    right: 100px;
    cursor: pointer;
}
.strelka1 {
    position: relative;
    top: 200px;
    left: 100px;
    cursor: pointer;
}